<div class="container">
	<div class="status-info">
		<div><span class="title">MENU</span><span id="menu-status">OFF</span></div>
		<div class="settings">
			<hr>
			<div><span class="title">RECORD</span><span id="record-mode">OFF</div>
		</div>
	</div>
</div>