<div class="menu-block">
	<div class="menu">
		<div class="menu-item menu-item--top">
			<div class="menu-text">1</div>
			<div class="menu submenu hidden">
				<div class="menu-item menu-item--top selectable"><div class="menu-text">A</div></div>
				<div class="menu-item menu-item--right selectable"><div class="menu-text">B</div></div>
				<div class="menu-item menu-item--bottom selectable"><div class="menu-text">C</div></div>
				<div class="menu-item menu-item--left selectable"><div class="menu-text">D</div></div>
			</div>
		</div>
		<div class="menu-item menu-item--right">
			<div class="menu-text">2</div>
			<div class="menu submenu hidden">
				<div class="menu-item menu-item--top selectable"><div class="menu-text">E</div></div>
				<div class="menu-item menu-item--right selectable"><div class="menu-text">F</div></div>
				<div class="menu-item menu-item--bottom selectable"><div class="menu-text">G</div></div>
				<div class="menu-item menu-item--left selectable"><div class="menu-text">H</div></div>
			</div>
		</div>
		<div class="menu-item menu-item--bottom">
			<div class="menu-text">3</div>
			<div class="menu submenu hidden">
				<div class="menu-item menu-item--top selectable"><div class="menu-text">I</div></div>
				<div class="menu-item menu-item--right selectable"><div class="menu-text">J</div></div>
				<div class="menu-item menu-item--bottom selectable"><div class="menu-text">K</div></div>
				<div class="menu-item menu-item--left selectable"><div class="menu-text">L</div></div>
			</div>
		</div>
		<div class="menu-item menu-item--left">
			<div class="menu-text">4</div>
			<div class="menu submenu hidden">
				<div class="menu-item menu-item--top selectable"><div class="menu-text">M</div></div>
				<div class="menu-item menu-item--right selectable"><div class="menu-text">N</div></div>
				<div class="menu-item menu-item--bottom selectable"><div class="menu-text">O</div></div>
				<div class="menu-item menu-item--left selectable"><div class="menu-text">P</div></div>
			</div>
		</div>
	</div>
</div>