<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

	<div class="container">
		<% include ../partials/info %>
	</div>

	<% include ../partials/include %>
	<script type="text/javascript" src="js/traditional.js"></script>
</body>
</html>