<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

	<% include ../partials/info %>
	<% include ../partials/menu %>

	<% include ../partials/include %>
	<script type="text/javascript" src="js/traditional.js"></script>
</body>
</html>